body {
    background-color: grey;
    height: 100vh;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aquamarine;
    font-weight: bold;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}